
@import url(https://fonts.bunny.net/css?family=quicksand:400,500,600,700);


h1,
h2,
h3,
h4,
h5,
h6,
.font-heading,
.display-1,
.display-2,
.heading-sm-1 {
  font-family: "Quicksand"!important;
  color: #d7b509;
  font-weight: 700;
  line-height: 1.2;
}